.global-footer
    footer.container
        .row
            .col-md-4.global-footer-links
                h2 가온길
                ul
                    li
                        a(href='/about') 소개
                    li
                        a(href='/general') 종합 평가
                    li
                        a(href='/commit') 기여 신청
            .col-md-4.global-footer-social
                .footer-social-wrapper
                    a.facebook(target='_blank' href='https://www.facebook.com/groups/ync.computer')
                    a.youtube(target='_blank' href='https://www.youtube.com/channel/UCJJRgG_l-ZV5kRi12LQoXDA')
                    a.instagram(target='_blank' href='https://www.instagram.com/yncstar/')
            .col-md-4.global-footer-legal
                a(href='/privacy-policy') 개인정보처리방침