.global-footer
    footer.container
        .row
            .col-md-4.global-footer-links
                h2 가온길
                ul
                    li
                        a(href='/about') 소개
                    li
                        a(href='/general') 종합 평가
                    li
                        a(href='/inquiry') 기여 신청
            .col-md-4.global-footer-social
                .footer-social-wrapper
                    a.facebook(target='_blank' href='//www.facebook.com/jin.ssssun/')
                    a.youtube(target='_blank' href='//www.youtube.com/channel/UCRv6OC1-ePkqm8MLAeyL1hg')
                    a.instagram(target='_blank' href='//www.instagram.com/jin__ssssun/')
            .col-md-4.global-footer-legal
                a(target='_blank' href='//caru.bbb.org/caru.aspx?id=1596150491')
