extends layout

block head
    link(rel='stylesheet' href='/stylesheets/about-budget.css')
    script(src='https://www.gstatic.com/charts/loader.js')
    script(src='/javascripts/general.js')

block content
    section.hero-section.hero-middle
        .container(style='height: 100%')
            .row.justify-content-center.align-items-center(style='height: 100%')
                .col-md-6
                    p
                        | 정직하고 바른 세상을 만드는 길
                        b &nbsp;가온길
    section.container
        .row.mt-5
            .col-md-12.about
                h3 공약 이행 평가 총평
                #piechart3d(style='width: 100%; max-width:100%; height: 400px;')
                table.table.text-center.table-bordered
                    thead
                        tr
                            td 평가안됨
                            td 지체
                            td 진행중
                            td 변경
                            td 완료
                            td 파기
                            td 전체
                    tbody
                        tr#progress-count
                        tr#progress-percent
                p.font-family-NanumBarunGothic.mb-0
                    | 현재 작성된 공약 이행 종합 평가가 존재하지 않습니다.
                    br
                    br
                    | 공약평가 결과는 연단위로 작성하여 등록될 예정입니다.
                ul.ml-5.font-family-NanumBarunGothic
                    li ~ 2020.12.31
                    li ~ 2021.12.31
                    li ~ 2022.12.31
                    li ~ 2023.12.31
                    li ~ 2024.05.29