nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    a.navbar-brand(href='/')
        img(class='mnd-logo' src='/images/logo/mnd_mark.gif')
        //img(class='brand-logo' src='/images/logo/small.svg')
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            li.nav-item.active
                a.nav-link(href='/')
                    | 가온길 소개
                    span.sr-only (Information)
            li.nav-item
                a.nav-link(href='/')
                    | 종합 평가
            li.nav-item.dropdown
                a.navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    | 국방정책
                .dropdown-menu(aria-labelledby='navbarDropdown')
                    a.dropdown-item(href='#') 최신 업데이트 정책
                    a.dropdown-item(href='#') 인기 정책 보기
                    a.dropdown-item(href='#') 평가 단계별 보기
            li.nav-item.dropdown
                a.navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    | 국방예산
                .dropdown-menu(aria-labelledby='navbarDropdown')
                    a.dropdown-item(href='#') 예산 날짜별 보기
                    a.dropdown-item(href='#') 예산 금액별 보기
                    a.dropdown-item(href='#') 예산 집행 부서별 보기
            li.nav-item.dropdown
                a.navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    | 국방뉴스
                .dropdown-menu(aria-labelledby='navbarDropdown')
                    a.dropdown-item(href='#') 전체 보기
                    .dropdown-divider
                    a.dropdown-item(href='#') 군사 분야
                    a.dropdown-item(href='#') 병무 분야
                    a.dropdown-item(href='#') 국가보훈 분야
            li.nav-item
                a.nav-link(href='/')
                    | 기여 신청
            li.nav-item
                a.nav-link(href='/')
                    | 고객 센터
        form.form-inline.my-2.my-lg-0
            input.form-control.mr-sm-2(type='search' placeholder='Search' aria-label='Search')
            button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
