nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href='/')
        img(class='mnd-logo' src='/images/logo/mnd_mark.gif')
        //img(class='brand-logo' src='/images/logo/small.svg')
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            li.nav-item.active
                a.nav-link(href='/about')
                    | 가온길 소개
                    span.sr-only (About Us)
            li.nav-item
                a.nav-link(href='/general')
                    | 종합 평가
            li.nav-item.dropdown
                a.navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    | 국방공약
                .dropdown-menu(aria-labelledby='navbarDropdown')
                    a.dropdown-item(href='/policy/list') 공약 평가 목록
                    .dropdown-divider
                    a.dropdown-item(href='/policy/progress') 평가 단계별 보기
            li.nav-item.dropdown
                a.navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    | 국방예산
                .dropdown-menu(aria-labelledby='navbarDropdown')
                    a.dropdown-item(href='/budget/list') 예산 평가 목록
                    .dropdown-divider
                    a.dropdown-item(href='/budget/supply') 보급품 예산 보기
            li.nav-item.dropdown
                a.navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    | 국방뉴스
                .dropdown-menu(aria-labelledby='navbarDropdown')
                    a.dropdown-item(href='/news') 전체 보기
                    .dropdown-divider
                    a.dropdown-item(href='/news') 군사 분야
                    a.dropdown-item(href='/news') 병무 분야
                    a.dropdown-item(href='/news') 국가보훈 분야
            li.nav-item
                a.nav-link(href='/commit')
                    | 기여 신청
        form.search-action-form(action='/policy/search' method='get')
            input(type='hidden' name='type' value='search')
            input(type='hidden' name='query' value='')
            input.form-control.mr-md-2(name='query-tmp' type='search' placeholder='검색' aria-label='Search' style='width: 15em;')
        ul.navbar-nav.mb-2.mb-md-0.member-ico
            if user
                li.nav-item.d-flex.justify-content-between.align-items-center.mr-3
                    a.nav-link(href='/auth/signout')
                        i.fa.fa-user.mr-2
                        | 로그아웃
                    a.nav-link(href='/auth/profile')
                        = user.displayName
            else
                li.nav-item.d-flex.justify-content-between.align-items-center.mr-3
                    a.nav-link(href='/auth/signup')
                        i.fa.fa-user.mr-2
                        | 회원가입
                li.nav-item.d-flex.justify-content-between.align-items-center
                    a.nav-link(href='/auth/signin')
                        i.fa.fa-sign-in-alt.mr-2
                        | 로그인