extends layout

block head
    link(rel='stylesheet' href='/stylesheets/index.css')
    script(src='/javascripts/index.js')

block content
    section.hero-section
        .container(style='height: 100%')
            .row.justify-content-center.align-items-center(style='height: 100%')
                .col-md-6
                    p
                        | 정직하고 바른 세상을 만드는 길
                        b &nbsp;가온길
                    .search-section
                        input(type='text' placeholder='검색').form-control.form-control-lg
                        .input-search-ico
                            i.fa.fa-2x.fa-search
    section.container
        .row.mt-3
            .col-md-4
                .highlight-content-box
                    .highlight-header
                        .title(style='display:flex')
                            i.fa.fa-tshirt.fa-2x.mr-2
                            h2 보급품
                        a.notice-more(href='/') 더보기
                    .army-avatar-section
                        include /public/images/rok-army-character-removebg-dot.svg
                    .army-avatar-info
                        i.fa.fa-times-circle.fa-2x
                        .army-avatar-info__detail.name
                            h2 보급품명
                            h5 @@@@
                        .army-avatar-info__detail.unit
                            h2 보급 수량
                            h5 ####
                        .army-avatar-info__detail.unit_price
                            h2 단가
                            h5 ####원
                        .army-avatar-info__detail.total_price
                            h2 총계
                            h5 ####원
            .col-md-8
                .row
                    .col-md-12
                        .highlight-content-box
                            .highlight-header
                                .title(style='display:flex')
                                    i.fa.fa-pencil-alt.fa-2x.mr-2
                                    h2 소개
                            .our-info.mt-3.font-family-NanumBarunGothic
                                | 정부가 성공적으로 혁신하기 위해서는 민-관 협력을 통해 국민이 진정으로 원하는 정책을 수립하고 이 과정을 투명하게 공개하는 등 청렴 정책을 잘 활용해 정부와 시민 간에 신뢰를 구축하고 하는 것이 매우 중요합니다.
                                br
                                | 가온길은 정직하고 바른 가운데 길로 살아가라는 의미의 옛말입니다. 저희는 단어의 뜻처럼 정직하고 바른 세상을 만들기 위해 노력하고 있습니다.
                    .col-md-12.mt-3
                        .highlight-content-box.news
                            .highlight-header
                                .title(style='display:flex')
                                    i.fa.fa-newspaper.fa-2x.mr-2
                                    h2 국방뉴스
                            ul.highlight-list-content
                                for newsItem in newsData
                                    li
                                        a(href=newsItem.url target='_blank').font-family-NanumBarunGothic
                                            =newsItem.title
        .row.mt-3
            article.col-md-6
                .highlight-content-box
                    .highlight-header
                        .title(style='display:flex')
                            i.fa.fa-balance-scale.fa-2x.mr-2
                            h2 정책 평가
                        a.notice-more(href='/') 더보기
                    ul.highlight-list-content
                        -for (let idx = 0; idx < 5; idx++)
                                    li.font-family-NanumBarunGothic
                                        a(href='/policy/view?id=' + policyData[idx].policy_id)
                                            =policyData[idx].promise_title
            article.col-md-6
                .highlight-content-box
                    .highlight-header
                        .title(style='display:flex')
                            i.fa.fa-hand-holding-usd.fa-2x.mr-2
                            h2 예산 평가
                        a.notice-more(href='/') 더보기
                    ul.highlight-list-content
                        -for (let idx = 0; idx < 5; idx++)
                                    li.font-family-NanumBarunGothic
                                        a(href='/')
                                            =policyData[idx].promise_title

