extends layout

block head
    link(rel='stylesheet' href='/stylesheets/index.css')

block content
    .hero-section
        .container(style='height: 100%')
            .row.justify-content-center.align-content-center(style='height: 100%')
                .col-md-6
                    p
                        | 정직하고 바른 세상을 만드는 길
                        b &nbsp;가온길
                    .search-section
                        input(type='text' placeholder='검색').form-control.form-control-lg
                        .input-search-ico
                            i.fa.fa-2x.fa-search
    section.container
        .row
            .col-md-8
                div(style='background-color: blue; height: 500px;')
                    | aaaa
            .col-md-4
                .army-avatar-section
                    include /public/images/rok-army-character-removebg-dot.svg
                    //img(src='/images/rok-army-character-removebg-dot.svg')
        .row
            .col-md-12
                    .container
                    .row.justify-content-center
                        article.col-md-6
                            .highlight-content-box
                                .highlight-list-header
                                    .title(style='display:flex')
                                        i.fa.fa-balance-scale.fa-2x.mr-2
                                        h2 최신 정책 평가
                                    a.notice-more(href='/') 더보기
                                ul.highlight-list-content
                                    li
                                        a(href='/') 가나다
                                    li
                                        a(href='/') 라마바
                                    li
                                        a(href='/') 사아자
                                    li
                                        a(href='/') 차카타
                                    li
                                        a(href='/') 파하
                        article.col-md-6
                            .highlight-content-box
                                .highlight-list-header
                                    .title(style='display:flex')
                                        i.fa.fa-hand-holding-usd.fa-2x.mr-2
                                        h2 예산 집행 현황
                                    a.notice-more(href='/') 더보기
                                ul.highlight-list-content
                                    li
                                        a(href='/') 가나다
                                    li
                                        a(href='/') 라마바
                                    li
                                        a(href='/') 사아자
                                    li
                                        a(href='/') 차카타
                                    li
                                        a(href='/') 파하