extends layout

block head
    link(rel='stylesheet' href='/stylesheets/about-budget.css')

block content
    section.hero-section.hero-middle
        .container(style='height: 100%')
            .row.justify-content-center.align-items-center(style='height: 100%')
                .col-md-6
                    p
                        | 정직하고 바른 세상을 만드는 길
                        b &nbsp;가온길
    section.container
        .row.mt-5
            .col-md-12.about
                h3 언론 보도자료 평가
                p.font-family-NanumBarunGothic.mb-0
                    | 현재 사단법인 한국언론사협회와 데이터 제공에 대한 조율 중에 있어 서비스 제공을 일시 중단합니다.