extends layout

block head
    link(rel='stylesheet' href='/stylesheets/policy.css')
block content
    section.hero-section.hero-middle
        .container(style='height: 100%')
            .row.justify-content-center.align-items-center(style='height: 100%')
                .col-md-6
                    p
                        | 정직하고 바른 세상을 만드는 길
                        b &nbsp;가온길
    section.container
        .row.mt-3
            .col-md-12
                .policy-content
                    ul.policy-header.d-flex.justify-content-between
                        if(type === 6)
                            li
                                a(href='/policy/progress?type=1') 평가안됨
                            li
                                a(href='/policy/progress?type=2') 지체
                            li
                                a(href='/policy/progress?type=3') 진행중
                            li
                                a(href='/policy/progress?type=4') 변경
                            li
                                a(href='/policy/progress?type=5') 완료
                            li.active
                                a(href='/policy/progress?type=6') 파기
                        else if(type === 5)
                            li
                                a(href='/policy/progress?type=1') 평가안됨
                            li
                                a(href='/policy/progress?type=2') 지체
                            li
                                a(href='/policy/progress?type=3') 진행중
                            li
                                a(href='/policy/progress?type=4') 변경
                            li.active
                                a(href='/policy/progress?type=5') 완료
                            li
                                a(href='/policy/progress?type=6') 파기
                        else if(type === 4)
                            li
                                a(href='/policy/progress?type=1') 평가안됨
                            li
                                a(href='/policy/progress?type=2') 지체
                            li
                                a(href='/policy/progress?type=3') 진행중
                            li.active
                                a(href='/policy/progress?type=4') 변경
                            li
                                a(href='/policy/progress?type=5') 완료
                            li
                                a(href='/policy/progress?type=6') 파기
                        else if(type === 3)
                            li
                                a(href='/policy/progress?type=1') 평가안됨
                            li
                                a(href='/policy/progress?type=2') 지체
                            li.active
                                a(href='/policy/progress?type=3') 진행중
                            li
                                a(href='/policy/progress?type=4') 변경
                            li
                                a(href='/policy/progress?type=5') 완료
                            li
                                a(href='/policy/progress?type=6') 파기
                        else if(type === 2)
                            li
                                a(href='/policy/progress?type=1') 평가안됨
                            li.active
                                a(href='/policy/progress?type=2') 지체
                            li
                                a(href='/policy/progress?type=3') 진행중
                            li
                                a(href='/policy/progress?type=4') 변경
                            li
                                a(href='/policy/progress?type=5') 완료
                            li
                                a(href='/policy/progress?type=6') 파기
                        else
                            li.active
                                a(href='/policy/progress?type=1') 평가안됨
                            li
                                a(href='/policy/progress?type=2') 지체
                            li
                                a(href='/policy/progress?type=3') 진행중
                            li
                                a(href='/policy/progress?type=4') 변경
                            li
                                a(href='/policy/progress?type=5') 완료
                            li
                                a(href='/policy/progress?type=6') 파기
                    .policy-list
                        ul
                            -for (let idx = (page - 1) * 10; idx < page * 10; idx++)
                                if(data[idx])
                                    li.policy-item
                                        a(href='/policy/view?mode=progress&id=' + data[idx].policy_id + '&type=' + type + '&page=' + page)
                                            h3.title= data[idx].promise_title
                                            p.desc.font-family-NanumBarunGothic
                                                = data[idx].promise_field
                                                | &nbsp;|&nbsp;
                                                = data[idx].party
                                                | &nbsp;|&nbsp;
                                                = data[idx].proposer
                                            if(type !== 6)
                                                .progress.mt-3(style='height: 1.75em;')
                                                    .progress-bar.progress-bar-striped.progress-bar-animated.bg-success(role='progressbar' aria-valuemin='0' aria-valuemax='100' aria-valuenow=data[idx].promise_progress style='width:' + data[idx].promise_progress + '%')
                                                ul.list-inline.d-flex.justify-content-between
                                                    li.list-inline-item.text-muted.font-family-NanumBarunGothic
                                                        if (data[idx].promise_progress === 0)
                                                            small.text-success.font-weight-bold 평가안됨
                                                        else
                                                            small 평가안됨
                                                    li.list-inline-item.text-muted.font-family-NanumBarunGothic
                                                        if (data[idx].promise_progress === 25)
                                                            small.text-success.font-weight-bold 지체
                                                        else
                                                            small 지체
                                                    li.list-inline-item.text-muted.font-family-NanumBarunGothic
                                                        if (data[idx].promise_progress === 50)
                                                            small.text-success.font-weight-bold 진행중
                                                        else
                                                            small 진행중
                                                    li.list-inline-item.text-muted.font-family-NanumBarunGothic
                                                        if (data[idx].promise_progress === 75)
                                                            small.text-success.font-weight-bold 변경
                                                        else
                                                            small 변경
                                                    li.list-inline-item.text-muted.font-family-NanumBarunGothic
                                                        if (data[idx].promise_progress === 100)
                                                            small.text-success.font-weight-bold 완료
                                                        else
                                                            small 완료
                                            else
                                                h4.text-danger.mt-3 파기
                        nav(aria-label='Page navigation example').mt-3
                            ul.pagination.justify-content-center
                                -let idx = parseInt((page - 1) / 5) * 5 + 1;
                                -let end = parseInt((page - 1) / 5) * 5 + 5;
                                -let lastpage = parseInt(data.length / 10) + 1;
                                if(idx > 5)
                                    li.page-item
                                        a.page-link(href='/policy/progress?type=' + type + '&page=1' aria-label='Previous')
                                            span(aria-hidden='true') &laquo;
                                            span.sr-only First
                                    li.page-item
                                        a.page-link(href='/policy/progress?type=' + type + '&page=' + (parseInt(idx / 5) * 5) aria-label='Previous')
                                            span(aria-hidden='true') &lt;
                                            span.sr-only Previous
                                -for (; idx <= end; idx++)
                                    if(idx <= lastpage)
                                        if (idx === page)
                                            li.page-item.active
                                                a.page-link(href='/policy/progress?type=' + type + '&page=' + idx)= idx
                                        else
                                            li.page-item
                                                a.page-link(href='/policy/progress?type=' + type + '&page=' + idx)= idx
                                if(idx <= lastpage / 5 * 5)
                                    li.page-item
                                        a.page-link(href='/policy/progress?type=' + type + '&page=' + (parseInt(idx / 5) * 5 + 1) aria-label='Next')
                                            span(aria-hidden='true') &gt;
                                            span.sr-only Next
                                    li.page-item
                                        a.page-link(href='/policy/progress?type=' + type + '&page=' + lastpage aria-label='Next')
                                            span(aria-hidden='true') &raquo;
                                            span.sr-only Last
