.about h3, .inquiry h3 {
    font-size: 1.15em;
    font-weight: 500;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 15px;
    margin-bottom: 10px;
    position: relative;
    padding-left: 15px;
    letter-spacing: -0.015em;
}

.about ul li, .inquiry ul li {
    list-style: disc;
}

.inquiry h3:before, .about h3:before {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--color-blue-accent);
    left: 0;
    bottom: 23px;
}
