@keyframes news-card-animation {
    0% {
        transform: matrix(1, 0, 0, 1, 0, 0);
    }
    50% {
        transform: matrix(1, 0, 0, 1, 0, -5);
    }
    100% {
        transform: matrix(1, 0, 0, 1, 0, 0);
    }
}

.hero-section {
    background: linear-gradient(315deg, #3a7bd5, #3a6073);
    height: 22em;
}

.hero-section p {
    font-family: '62570체';
    color: white;
    font-size: 1.6em;
    text-align: center;
}

.hero-section p > b {
    color: #000051;
    font-size: 1.5em;
    font-weight: normal;
}

.hero-section .search-section {
    display: flex;
}

.hero-section .search-section > .input-search-ico {
    color: var(--color-light-gray);
    margin: .5rem 0 0 -3rem;
    z-index: 100;
}

.news-card-title > img {
    border-radius: 5px 5px 0 0;
    width: 100%;
}

.news-footer-bg-yellow {
    background-color: var(--news-footer-bg-yellow);
}

.news-card:hover {
    animation-name: news-card-animation;
    animation-duration: 300ms;
}

.news-card:hover .news-footer-bg-yellow {
    background-color: var(--news-footer-bg-yellow-hover);
}

.news-footer-bg-green {
    background-color: var(--news-footer-bg-green);
}

.news-card:hover .news-footer-bg-green {
    background-color: var(--news-footer-bg-green-hover);
}

.news-footer-bg-brown {
    background-color: var(--news-footer-bg-brown);
}

.news-card:hover .news-footer-bg-brown {
    background-color: var(--news-footer-bg-brown-hover);
}

.news-footer-bg-gray {
    background-color: var(--news-footer-bg-gray);
}

.news-card:hover .news-footer-bg-gray {
    background-color: var(--news-footer-bg-gray-hover);
}

.news-footer-bg-black {
    background-color: var(--news-footer-bg-black);
}

.news-card:hover .news-footer-bg-black {
    background-color: var(--news-footer-bg-black-hover);
}

.news-footer-bg-blue {
    background-color: var(--news-footer-bg-blue);
}

.news-card:hover .news-footer-bg-blue {
    background-color: var(--news-footer-bg-blue-hover);
}

.news-footer {
    border-radius: 0 0 5px 5px;
    padding: 0.25em 1em 1em;
    transition: background-color 150ms linear;
}

.news-footer > h3 {
    margin: 0.25em 0;
    color: white;
}

.news-footer p {
    margin: 0.25em 0;
    color: black;
}

.highlight-content-box {
    padding: 1em;
    background-color: var(--color-real-white);
}

.highlight-list-header {
    border-bottom: 2px solid var(--color-dark-gray);
    font-family: 'Handon3gyeopsal600g';
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.highlight-list-content {
}

.highlight-list-content > li {
    margin: 0 0 0.5em 0.5em;
    padding-left: 1.2em;
    position: relative;
}

.highlight-list-content > li > a {
    color: var(--color-dark-light-gray);
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 100%;
    text-transform: none;
    vertical-align: middle;
}

.highlight-list-content > li > a:before {
    color: var(--color-dark-light-gray);
    content: "\25B6";
    font-size: 55%;
    position: absolute;
    opacity: 0.4;
    left: 6px;
    top: 3px;
}
