:root {
    --color-real-white: #fff;
    --color-real-black: #000;

    --color-light-gray: rgb(145, 145, 145);
    --color-dark-light-gray: rgb(97, 97, 97);
    --color-dark-gray: rgb(66, 66, 66);

    --news-footer-bg-yellow: #e6bc2f;
    --news-footer-bg-yellow-hover: #daa31c;
    --news-footer-bg-green: #4dad5b;
    --news-footer-bg-green-hover: #369143;
    --news-footer-bg-brown: #675945;
    --news-footer-bg-brown-hover: #483f31;
    --news-footer-bg-gray: #a4a4a4;
    --news-footer-bg-gray-hover: #8b8b8b;
    --news-footer-bg-black: #313131;
    --news-footer-bg-black-hover: #282828;
    --news-footer-bg-blue: #1b53ba;
    --news-footer-bg-blue-hover: #1847d7;

    --gnb-bg-color: rgba(0, 31, 80, 0.9);
    --footer-bg-color: rgb(31, 31, 31);
}